# JetBrains IDE files
/.idea

# dependencies
/node_modules

# env files
.env*.*

# Next.js
/.next
/dist
next-env.d.ts

# Typescript
*.tsbuildinfo

# Github
/.github

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
